@use 'index' as *;;
.contact-section {
  padding: $padding-section;

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;

    input, textarea {
      padding: 0.75rem;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    button {
      padding: 0.75rem;
      background-color: $primary-color;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }
}
